/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap'); */

body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    background: url(assets/bg-1.png);
    background-repeat: no-repeat;
}

.container{
    margin-top: 100px;
    padding: 0 110px;
}

header{
    margin: 0 110px;
    height: 140px;
    display: flex;
}

.logo{
    display: flex;
    align-items: center;
}

nav{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav ul{
    display: flex;
    padding: 0;
}

nav ul li{
    list-style: none;
    margin: 0 25px;
}
nav ul li:last-child{
    margin-right: 0;
}

nav ul li a{
    color: #6262a0;
    font-size: 16px;
    text-decoration: none;
}

nav ul li a:hover{
    color: #664ffa;
}

h1{
    color: #6262a0;
    font-size: 45px;
    font-weight: 500;
}

p{
    color: #a0a0ba;
    font-size: 18px;
    font-weight: 400;
}

.center{
    text-align: center;
}

p span{
    text-align: center;
    font-size: 12px;
    font-weight: 400;
}

.display-flex{
    display: flex;
}

.content-slidel{
    padding-right: 15px;
    margin-top: 40px;
    flex: 65;
}
.content-slidel h1{
    font-weight: 500;
    font-size: 45px;
    line-height: 60px;
}
.content-slidel p{
    line-height: 30px;
}

.box-trial{
    flex: 35;
    padding: 50px 60px;
    background-color: #fff;
    -moz-box-shadow: 0 10px 40px 0 rgba(32, 62, 84, 0.08);
    -webkit-box-shadow: 0 10px 40px 0 rgba(32, 62, 84, 0.08);
    box-shadow: 0 10px 40px 0 rgba(32, 62, 84, 0.08);
}

.box-trial h4{
    color: #6262a0;
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 50px;
    text-align: center;
    text-transform: capitalize;
}

.form-container{
    
}

.field-form label{
    font-size: 14px;
    color: #664ffa;
    font-weight: 300;
    margin-bottom: 10px;
    text-transform: capitalize;
    display: inline-block;
}

.field-form input{
    box-sizing: border-box;
    width: 100%;
    background-color: #f7f6ff;
    color: #a0a0ba;
    border-radius: 4px;
    border: solid 1px #e6e6f0;
    padding: .375rem .75rem .375rem 30px;
    font-size: 16px;
    outline: none;
    margin-right: -17px;
    margin-bottom: 20px;
}

.btn{
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 4px;
    height: 50px;
}

.btn-block{
    width: 100%;
}

.btn-primary{
    background-color: #664ffa;
    color: #fff;
    border-color: #664ffa;
}
.btn-primary:hover{
    background-color: #3b1df9;
    border-color: #3b1df9;
    cursor: pointer;
}

.col-md-4{
    width: 33.333333%;
    padding: 0 15px;
    
}

h1,h2,h3,h4{
    color: #6262a0;
}

.content-2{
    margin: 150px 0;
}

.bg-icon{
    display: flex;
    margin: 0 auto;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.bg-blue{
    box-shadow: 0 4px 10px rgba(92, 72, 224, 0.3);
    background-color: #5c48e0;
}

.bg-green {
    box-shadow: 0 4px 10px rgba(2, 230, 184, 0.3);
    background-color: #02e6b8;
}

.bg-orange {
    box-shadow: 0 4px 10px rgba(230, 126, 0, 0.3);
    background-color: #ff8c00;
}

.content-2 > div{
    width: 50%;
    margin: 0 auto;
    margin-bottom: 80px;
}

.content-2 > div h2{
    font-size: 32px;
    font-weight: 500;
}

.content-2 > section p{
    font-size: 16px;
    line-height: 28px;
}